div{
    /* border: 设置边框粗细 设置边框样式 设置边框颜色 */
    /* border: 2px solid #f00; */
    /* 设置宽度 */
    width: 500px;
    /* 设置高度 */
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    word-spacing: 30px;
}
