.a1{
    width: 200px;
    height: 40px;
    background-image: url(../作业/04/topfoot-spr.png);
    background-position: -208px 0px;

}
.a2{
    width: 172px;
    height:42px;
    background-image: url(../作业/04/topfoot-spr.png);
    background-position: -210px -40px;

}
.a3{
    width:29px;
    height:46px;
    background-image: url(../作业/04/topfoot-spr.png);
    background-position: -376px -37px;

}
.a4{
    width: 140px;
    height: 60px;
    background-image: url(../作业/04/topfoot-spr.png);
    background-position: -216px -80px;

}
.a5{
    width: 23px;
    height: 30px;
    background-image: url(../作业/04/topfoot-spr.png);
    background-position: -353px -80px;

}
.a6{
    width: 20px;
    height: 20px;
    background-image: url(../作业/04/topfoot-spr.png);
    background-position: -372px -110px;

}
.a7{
    width: 20px;
    height: 20px;
    background-image: url(../作业/04/topfoot-spr.png);
    background-position: -353px -110px;

}
.a8{
    width: 25px;
    height: 25px;
    background-image: url(../作业/04/topfoot-spr.png);
    background-position: -376px -80px;

}