div{
    width: 298px;
    height: 384px;
    background-image: url(../作业/03/pms_1550642182.7527088!220x220.jpg);
    background-position: 50% 8%;
    background-repeat: no-repeat;
}
div p:first-child{
    display: inline-block;
    width: 298px;
    text-align: center;
    color: #333333;
    font-size: 18px;
    position: absolute;
    top: 250px;
    margin:10px;
}
div p:nth-child(2){
    display: inline-block;
    width: 298px;
    color: #B0B0B0;
    text-align: center;
    position: absolute;
    top: 275px;


}
div p:last-child{
    display: inline-block;
    width: 298px;
    text-align: center;
    color: #FF6700;
    font-size: 18px;
    position: absolute;
    top: 312px;
    margin: 10px;
}