*{
    margin: 0;
    padding: 0;
}
.head .head1{
    height: 80px;
    background-image: url("https://img02.hua.com/pc/images/pc_newuser_order_100.png?v");
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.nav{
    background-color: #F2F2F2;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    padding: 0 88px;
    color: #737373;
    display: flex;
    justify-content: space-between;
}
.nav-left{
    display: flex;
}
.nav-left-item{
    padding: 0 10px;
    position: relative;
    
}
.nav-left-img,.icon-gouwuchekong{
    color: #FFB680;
}
.icon-wechat-fill,.icon-phone{
    font-size: 22px;
}
.app{
    position: absolute;
    background-color: white;
    font-size: 12px;
    width: 160px;
    top: 35px;
    left: 0px; 
    text-align: center;
    color: #737373;
    z-index: 99;
    display: none;
}
.nav-left-item>span:nth-child(2):hover +div{
    display: block;
    border: 1px solid #737373;
    border-top: none;
}
.ccc:hover{
    background-color: white;
    border: 1px solid #737373;
    border-bottom: none;
}
.ccc{
    font-size: 0;
}
.nav-left-item span{
    font-size: 13px;
}

.app img{
    padding-top: 20px;
}
icon-shouji{
    font-weight: bolder;
}
.nav-right{
    display: flex;
}
.nav-right>span{
    font-weight: lighter;
    padding: 0 8px;
}
.sjx{
    border-top: 6px solid #737373;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}
.nav-right-cs{
    width: 80px;
    display: flex;
    align-items: center;
}
.zero{
    color: #FFB680;
}

.middle{
    height: 120px;
    display: flex;
}
.middle .logo{
    margin: 20px 88px;
    margin-right: 0;
    width: 500px;
    display: inline-block;
}
.search .input input{
    width: 239px;
    height: 34px;
    border: 1px solid #FF6A00;
    font-size: 14px;
}
.search .input input:focus{
    outline: none;
}
.search .input span{
    display: inline-block;
    width: 82px;
    height: 36px;
    background-color: #FF6A00;
    color: white;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
}
.search .input{
    font-size: 0;
}
.search{
    margin-top: 40px;
    margin-right: 120px;
}
.search div:nth-child(2) span{
    font-size: 12px;
    color: #737373;
}
.middle .kefu{
    margin-top: 40px;
}
.kefu .iconfont{
   font-size: 25px;
    color: #FF6A00;
    vertical-align: middle;
}
.middle .kefu {
    width: 251px;
    height: 50px;
}
.middle .aa{
    font-size: 14px;
    color: #737373;
}
.middle .kefu span{
    padding: 0 2px;
}

.middle2{
    height: 40px; 
    display: flex;
    border-bottom: 3px solid  #FF6A00;
}
.middle2 .m2-left{
    margin-left: 88px;
    width: 230px;
    background-color: #FF6A00;
    color: #F2F2F2;
}
.middle2 .m2-left p{
    line-height: 40px;
    margin: 0 12px;
    font-size: 15px;
    font-weight: bold;
}
.m2-right{
    width: 720px;
    display: flex;
    justify-content: space-between;
}
.m2-right span{
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    color: #4D4D4D;
    font-weight: bold;
}
.m2-right span:first-child{
    padding-left: 40px;
}
.m2-right span:hover{
    color: #FF6A00;
}
.middle .search .input:focus{
    box-shadow: none;
    border: #FF6600;
}

.item{
    background-image: url("https://img02.hua.com/zhuanti/birthday/20181025/pc_banner.png");
    height: 440px;
    display: flex;
    position: relative;
}

.item-left{
    margin-left: 88px;
    background-color: white;
    width: 200px;
    padding: 8px 25px 43px 5px;
    border-bottom: 3px solid  #FF6A00;
}
.item-left>div{
    border-bottom: 1px solid #E9E9E9;
}

.item-left>div>p,.item-left span{
    color: #FF6A00;
    font-size: 14px;
    font-weight: bold;
    
}
.item-left>div>p{
    padding: 4px 10px;
}
.useway{
    font-size: 12px;
    color: #737373;
    display: flex;
    justify-content: space-around;
    /* align-content: center; */
}
.useway p{
    padding: 4px 0px;
}
.useway p:hover{
    color: #FF6A00;
    text-decoration: underline #FF6A00;
}
.huacai p:hover{
    color: #FF6A00;
    text-decoration: underline #FF6A00;
}
.yongsheng p:hover{
    color: #FF6A00;
    text-decoration: underline #FF6A00;
}
.cake p:hover{
    color: #FF6A00;
    text-decoration: underline #FF6A00;
}
.huacai{
    font-size: 12px;
    color: #737373;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7px;
}
.huacai p{
    padding: 4px 4px;
}
.yongsheng{
    font-size: 12px;
    color: #737373;
    display: flex;
    padding-left: 7px;
}
.yongsheng p{
    padding: 4px 4px;
}

.cake{
    font-size: 12px;
    color: #737373;
    display: flex;
    flex-wrap: wrap;
    padding-left: 7px;
}
.cake p{
    padding: 4px 4px;
}
.item-left div:nth-child(5),.item-left div:nth-child(6){
    padding: 10px 7px;
    
}

.item-right{
    width: 210px;
    position: absolute;
    right: 77px;
    top:10px;
}
.item-right>div{
    width: 210px;
    height: 140px;
}
.right1{
    background-image: url(../鲜花网/num1.png);
    border-bottom: 1px solid #E4E4E4;
    transition: all 0.5s;
}
.www{
    padding-top: 50px;
    padding-left: 10px;
}
.zzz{
    padding-left: 10px;
}
.right2{
    background-image: url(../鲜花网/num2.png);
    border-bottom: 1px solid #E4E4E4;
    transition: all 0.5s;

}
.right3{
    background-image: url(../鲜花网/num3.png);
    transition: all 0.5s;
}
.right1:hover{
    transform: translate(-5px,0);
}
.right2:hover{
    transform: translate(-5px,0);
}
.right3:hover{
    transform: translate(-5px,0);
}


.bottom{
    display: flex;
    margin: 30px 85px;
    width: 1170px;
    justify-content: space-between;
    flex: 1;
}
.bottom span{
    font-size: 40px;
    color: #FF6600;
}
.bottom>div{
    display: flex;
}
.bottom div p:first-child{
    color: #4D4D4D;
}
.bottom div p:last-child{
    color: #999999;
    font-size: 12px;
}

.fixed{
    width: 30px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #595656;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    
}
.fix1,.fix2{
    border-bottom: 1px solid #939191;
}
.fixed span{
    color: #BEBDBD;
    font-size: 22px;
    vertical-align: middle;
}
.fix2 p{
    color: #BEBDBD;
    font-size: 13px;
    text-align: center;
}
.fix2 div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF6600;
    color: #F2F2F2;
    text-align: center;
    font-size: 12px;
}
.fix1{
    padding: 0 0 15px 0;
}
.fix2,.fix3{
    padding: 15px 0;
}
.fix2 p,.fix2 div{
    margin-top: 15px;
}
.fix3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 270px;
}
.fix{
    margin: 0 5px;
}