* {
    padding: 0;
    margin: 0;
}

.top {
    background-color: #333333;
    color: #B0B0B0;
    font-size: 8px;
    height: 39px;
    padding: 0 53px;
}
.top .top-line{
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color:black;
    vertical-align: middle;
}

.top li {
    display: inline-block;
    padding: 0 2px;
    line-height: 39px;
}

.top .a1 {
    float: right;
    /* position: relative; */
}

.top img {
    height: 17px;
    width: 18px;
    vertical-align: middle;

}

.top li:hover {
    color: white;

}

.top .a2 {
    background-color: #424242;

}

.top .a1::after {
    display: inline-block ;
    content: "";
    clear: both;
}
.top .top-xiabiao {
    width: 316px;
    height:100px;
    box-shadow: 1px 1px 1px 1px gray;
    border: 1px solid gray;
    box-sizing: border-box;
    position: absolute;
    top: 39px;
    right: 53px;
    display: none;
    z-index: 999;

}
.top .top-xiabiao p{
    color: palevioletred;
    size: 16px;
    text-align: center;
    line-height: 100px;
}
.top .a2 span:hover +div{
    display: block;
}
.top .a2 span:hover{
    color: #FF6700;
}

.content1{
    padding: 20px 60px;
}
.content1-center{
    /* display: inline-block; */
    float: right;
}
.content1-center li:not(.content1-search){
    display: inline-block;
    /* line-height: 55px; */
    padding: 0 8px;
}
.content1-img{
    vertical-align: middle;
    width: 55px;
    height: 55px;
}
.content1-search{
    display: inline-block;
    /* line-height: 55px; */
    padding-left: 60px;
    vertical-align: middle;
}
.content1-search-left input{
    width: 245px;
    height: 50px;
    border: 1px solid #ccc;
    padding: 0 10px;
    box-sizing: border-box;
}
.content1-search-left input:focus{
    outline: none;
    border: 1px solid #f00;
}
.content1-search-left input:focus+div{
    display: none;
}
.content1-search-left{
    position: relative;
    /* display: inline-block; */
    float: left;
}
.content1-spanbox{
    position: absolute;
    top: 0px;
    right: 10px;
    line-height: 50px;
}
.content1-spanbox span{
    font-size: 12px;
    background-color: #eee;
    padding: 2px 4px;
    color: #757575;
}
.content1-spanbox span:hover{
    color: #fff;
    background-color: #ff6700;
}
.content1-search-right{
    /* display: inline-block; */
    border: 1px solid #ccc;
    border-left: 0;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    float: right;
    line-height: 50px;
}
.content1-right-img{
    width: 18px;
    height: 18px;
}
.content1-center li:hover{
    color: #FF6700;

}






.left {
    background-color: #4C5A62;
    color: #FFFFFF;
    width: 235px;
    height: 462px;
    box-sizing: border-box;
    margin: 0 53px;
    font-size: 14px;
    padding: 20px 0;
    position: relative;
}

.left .left-1 {
    list-style: none;
    height: 42px;
    line-height: 42px;
    padding: 0 25px;
}

.left .left-1:hover {
    background-color: #FF6700;
    display: block;
}

 .left .left-pic1{
    position: absolute;
    top: 0;
    left: 235px;
    box-sizing: border-box;
}
.left .left-pic1 img{
    width: 990px;
    height: 460px;
}
.left .left-meili{
    display: none;
}
.left .left-shuaiqi{
    display: none;
}
.left .left-11:hover +div{
    display: inline-block;
}
.left .left-12:hover +div{
    display: block;
}
